body {
    font-family: Futura Normal,Arial,sans-serif
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.flex{
	display: flex;
}
.wrap{
	flex-wrap: wrap;
}
.justifyCenter{
	justify-content: center;
}
.alignCenter{
	align-items: center;
}
img{
	max-width: 100%;
}

/*header css start*/
header{
	position: sticky;
	height: 80px;
	z-index: 50;
	top: 0;
	background-color: white;
}
.container{
	width: 94%;
}
.logo{
	width: 40%;
}
.logo img{
    width: 100px;
}
.menu{
    width: 60%;
}
nav{
	/* gap: 40px; */
}
nav ul{
	list-style: none;
}
nav ul li a{
    padding: 15px 20px;
    color: #000000;
    text-decoration: none;
	transition-duration: 0.5s;
}
nav ul li a:hover{
	background-color: #0293CC;
	padding: 12px 20px;
	border-radius: 10px;
}
.line{
    width: 100%;
    height: 2px;
    background-color: #F6F6F6;
}
/*header css end*/

/*bannerSection start*/
.bannerSection{
    height: 500px;
}
.leargeText h1{
	color: #333333;
    font-size: 90px;
}
.leargeText h3{
	font-size: 22px;
}
/*bannerSection end*/


/*feature1-3 start*/
.feature{
	height: 550px;
	background-image: url(images/bg1.png);
	background-repeat: no-repeat;
	background-position: left;
    background-size: 80%;
}
.feature .container{
	width: 90%;
	gap: 8%;
}
.feature .text-part{
    width: 45%;
}
.feature .text-part div{
    width: 85%;
    margin-left: auto;
}
.feature .text-part h2{
	font-size: 30px;
}
.feature .text-part p{
    font-size: 14px;
    line-height: 30px;
}
.feature .img-part{
    width: 45%;
}
.feature .img-part img{
	border-radius: 10px;
}
/*feature1-3 end*/

.feature2{
	height: 550px;
	background-color: #F1F5F9;
}
.feature2 .container{
	width: 90%;
	gap: 8%;
}
.feature2 .text-part{
    width: 45%;
}
.feature2 .text-part div{
    width: 85%;
    margin-left: auto;
}
.feature2 .text-part h2{
	font-size: 30px;
}
.feature2 .text-part p{
    font-size: 14px;
    line-height: 30px;
}
.feature2 .img-part{
    width: 45%;
}
.feature2 .img-part img{
	border-radius: 10px;
}


/*Six box section start*/
.sixBox-section{
	height: 800px;
}
.sixBox-section .container{
	gap: 5%;
}
.box{
	margin: 25px 0;
	width: 28.33%;
	border-radius: 20px;
	height: 280px;
}
.blue{
	background-color: #0393CC;
}
.gray{
	background-color: #F5F5F5;
}
.box h2{}
.box p{
	padding: 0 25px;
	text-align: center;
	line-height: 30px;
	font-size: 14px;
}
.box p{
	color: white;
}
.gray p{
	color: black;
}

footer{
	height: 100px;
	background-color: #0393CC;
}
footer .container{
	gap: 20px;
}
footer p{
	color: white;
	font-size: 14px;
}
footer a{
	font-size: 14px;
	color: white;
	text-decoration: none;
}